<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>newTabs</title>
	<link rel="stylesheet" href="css/screen.css">
</head>
<body>
	<h1>choose your color</h1>
	今日の天気
	<a href="http://localhost:8000">localhost:8000</a><br>
	<a href="http://localhost">localhost</a><br>
	<a href="http://localhost/phpMyAdmin">phpMyadmin</a><br>


	<div id="app_list"></div>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/append.js"></script>

	<script type="text/template" id="app">
		<p>
			<a href="<%- url %>" target="_blank"><img src="<%- icon_url %>" alt="<%- name %>" width="32" height="32"/></a>
				<span id="name"><%- name %></span>
		</p>
	</script>
</body>
</html>
